@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/AdminStyle/AdminLoginStyle.css">
</head>
<body>
    <div class="login-container">
        <div class="logo_add">
            <img src="/images/StarLogo.png" alt="starlogo.png">
        </div>
        <form id="admin-login-form" action="/Admin/AdminLogin" method="POST">
            @Html.AntiForgeryToken() <!-- Include anti-forgery token for security -->
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
            <div class="forgot-password">
                <a href="/Admin/ForgotPassword">Forgot Password</a>
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="error-message">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }
    </div>
</body>
</html>
