<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/AdminStyle/AdminLoginStyle.css">
</head>
<body>



    <div class="login-container">

        <div class="logo_add">
            <img src="/images/starlogomain1.png" alt="starlogo.png">
        </div>
        <form id="admin-forgot-password-form" action="/admin-dashboard.html" method="POST">
            <div class="input-group">
                <label for="email">Please Enter the Master Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <button type="submit" class="login-button">Enter</button>

        </form>
    </div>
    </div>


    <script>
        document.getElementById('admin-forgot-password-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const email = document.getElementById('email').value;

            if (email === 'admin123@star.com') { // Simple check for demonstration
                window.location.href = '/pages/AdminPages/AdminLogin.html'; // Redirect to dashboard
            } else {
                alert('Please enter a registered email.');
            }
        });
    </script>
</body>
</html>
