<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star | Sustainability</title>
    <link rel="stylesheet" href="/css/AdminStyle/StyleAdminPage.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="top-bar-right">
                <a href="#">Knowledge Centre</a>
                <a href="#">News and stories</a>
                <a href="#">Careers</a>
                <a href="#">Events</a>
                <a href="#">Contact</a>
                <a href="#">- EN</a>
            </div>
        </div>
        <nav>
            <div class="logo">
                <img src="/images/StarLogo.png" alt="Star Logo">
            </div>
            <ul>
                <li><a href="#">Manage Employees</a></li>
                <li>
                    <a href="#">Manage Products</a>
                    <ul class="dropdown">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Services </a></li>
                    </ul>
                </li>
                <li><a href="#">This is Star</a></li>
            </ul>
        </nav>
    </header>

    <script src="script.js"></script>
</body>
</html>