
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Footer - Star India Head Office</title>
            <link rel="stylesheet" href="/css/HomeStyle/FooterStyle.css">

        </head>
        <body>
            <footer>
                <div class="footer-content">
                    <div class="contact-info">
                        <h2>Star India Head Office</h2>
                        <p>
                            Unit No: L5 07, SLP Terminus,<br>
                            Survey No. 273, Beside Botanica Gardens,<br>
                            Gachibowli, Hyderabad – 500042 India
                        </p>
                        <p>Mobile No: +91 73047 9555</p>
                    </div>

                    <div class="report-concerns">
                        <h3>Concerns?</h3>
                        <p>If you would like to report a concern regarding ethical misconduct or non-compliance with legislation and/or the Nutreco Code of Conduct, please <a href="mailto:concerns@starindia.com">Speak Up!</a></p>
                    </div>
                </div>

                <div class="footer-note">
                    <p>Note: Star is brand managed by the legal business Star AQUACULTURE INDIA PRIVATE LIMITED</p>
                </div>
            </footer>
        </body>
        </html>
  