
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Star | Sustainability</title>
            <link rel="stylesheet" href="/css/HomeStyle/StyleHomePage.css">
        </head>
        <body>
            <header>
                <div class="top-bar">
                    <div class="top-bar-right">
                        <a href="#">Knowledge Centre</a>
                        <a href="#">News and stories</a>
                        <a href="#">Careers</a>
                        <a href="#">Events</a>
                        <a href="#">Contact</a>
                        <a href="#">- EN</a>
                    </div>
                </div>
                <nav>
                    <div class="logo">
                        <img src="/images/StarLogo.png" alt="Star Logo">
                    </div>
                    <ul>
                        <li><a href="#">Integrated Solutions for Aquaculture</a></li>
                        <li>
                            <a href="#">Transparency & Trust</a>
                            <ul class="dropdown">
                                <li><a href="#">Our Approach</a></li>
                                <li><a href="#">Certifications</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Sustainability</a>
                            <ul class="dropdown">
                                <li><a href="#">Why Sustainability</a></li>
                                <li><a href="#">Our Initiatives</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">This is Star</a></li>
                    </ul>
                </nav>
            </header>

            <script src="script.js"></script>
        </body>
        </html>

   