* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EAE7DD;
}

header {
    background-color: #EAE7DD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: black;
    font-size: 14px;
}

    .top-bar a {
        color: white;
        text-decoration: none;
        margin-left: 15px;
    }

        .top-bar a:hover {
            color: #333;
        }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 20px 0;*/
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        width: 90px;
        height: 70px;
        margin-right: 10px;
        padding: 10px 20px 10px 10px;
    }

    .logo span {
        font-weight: bold;
        font-size: 18px;
    }

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

    ul li {
        position: relative;
        margin: 0 20px;
    }

        ul li a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 16px;
        }

            ul li a:hover {
                color: #d00;
            }

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    margin: 0;
    padding: 10px 20px;
}

    .dropdown li a {
        color: #333;
    }

        .dropdown li a:hover {
            color: #d00;
        }

.hero {
    background-image: url('/images/starimg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 80px 20px 290px 20px;
}

.hero-text h1 {
    font-size: 32px;
    font-weight: bold;
}

.content {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
}

    .breadcrumb a {
        text-decoration: none;
        color: #333333;
    }

        .breadcrumb a:hover {
            text-decoration: underline;
            color: #d00;
        }

h2 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

    .cta:hover {
        text-decoration: underline;
        color: #333333;
    }
